---
import Layout from '../layouts/Layout.astro';
import Tech from '../components/Astro/Tech.astro';
import Socials from '../components/Astro/Socials.astro';
import Projects from '../components/Astro/Projects.astro';
import Timelines from '../components/Astro/Timelines.astro';
import DividerLine from '../components/Astro/DividerLine.astro';
---

<Layout title="Ling Myat Aung">
	<section class="mt-20 text-white font-mono">
		<div class="flex gap-3 items-center mb-6">
			<div class="w-2 h-2 bg-green-500 rounded-full"></div>
			<span>Online.</span>
		</div>
		<div class="relative mb-5">
			<h1 class="text-4xl">
				Hello👋, I'm Ling Myat
			</h1>

			<div style="transform: skew(160deg);height:12px; right:11%; width:184px;" 
			class="absolute bg-green-400 top-8 opacity-60"
			></div>
		</div>

		<h1 class="text-4xl font-bold mb-8">
			<span class="bg-gradient-to-r from-green-400 to-cyan-400 bg-clip-text text-transparent" >Fullstack Developer</span>
		</h1>

		<Socials />

		<div class="mb-5 text-gray-300">
			<p class="leading-relaxed">
				Hi I'm Ling Myat Aung. Experienced full-stack developer from Myanmar with 2 years of expertise in Php, Laravel and Vue.js. Ready to create innovative web solutions!
			</p>
		</div>

		<DividerLine />

		<Timelines />

		<DividerLine />

		<Projects />

		<DividerLine />

		<Tech />
	</section>

	<span id="circle" class="circle"></span>
</Layout>

<style>
	.circle {
		position: absolute;
		border: 2px solid #4ad26c;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		transform-origin: center bottom;
		pointer-events: none;
		opacity: 0;
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		var mouseX = 0,
			mouseY = 0;
		var xp = 0,
			yp = 0;

		document.addEventListener('mousemove', function (e) {
			document.getElementById('circle').style.opacity = '1';
			mouseX = e.pageX - 533;
			mouseY = e.pageY - 103;
		});

		setInterval(function () {
			xp += (mouseX - xp) / 6;
			yp += (mouseY - yp) / 6;
			document.getElementById('circle').style.left = xp + 'px';
			document.getElementById('circle').style.top = yp + 'px';
		}, 17);
	});
</script>