---
import Tech from '../components/Tech.astro';
import Layout from '../layouts/Layout.astro';
import Socials from '../components/Socials.astro';
import Timelines from '../components/Timelines.astro';
import DividerLine from '../components/DividerLine.astro';
---

<Layout title="Ling Myat Aung">
	<section class="mt-20 text-white font-mono">
		<div class="flex gap-3 items-center mb-6">
			<div class="w-2 h-2 bg-green-400 rounded-full"></div>
			<span>Online.</span>
		</div>
		<div class="relative mb-5">
			<h1 class="text-4xl">
				Hello👋, I'm Ling Myat
			</h1>

			<div style="transform: skew(160deg);height:12px; right:119px" 
			class="absolute w-44 top-7 bg-cyan-400 opacity-60"
			></div>
		</div>

		<h1 class="text-4xl font-bold mb-8">
			<span class="bg-gradient-to-r bg-clip-text text-transparent from-indigo-500 via-purple-500 to-pink-500" >Fullstack Developer</span>
		</h1>

		<Socials />

		<div class="mb-5 text-gray-300">
			<p class="leading-relaxed">
				Hi I'm Ling Myat Aung. Experienced full-stack developer from Myanmar with 2 years of expertise in Php, Laravel and Vue.js. 1 year of Node.js experience. Ready to create innovative web solutions!
			</p>
		</div>

		<DividerLine />

		<Timelines />

		<DividerLine />

		<Tech />
	</section>
</Layout>
