---
interface Props {
	title: string;
}

const { title } = Astro.props;
---


<head>
    <!-- Basic Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content="Ling Myat Aung" />
    <meta name="keywords" content="Ling Myat Aung, full-stack developer, PHP, Laravel, Vue.js, Typescript, NodeJS, NextJS, web development, Myanmar developer">
    <meta name="description" content="Ling Myat Aung is a full-stack developer from Myanmar specializing in PHP, Laravel, Vue.js, and other modern web technologies." />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Ling Myat Aung | Full-Stack Developer">
    <meta property="og:description" content="Explore the portfolio of Ling Myat Aung, a full-stack developer with expertise in PHP, Laravel, Vue.js, and more.">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Ling Myat Aung" /> 
    <meta property="og:url" content="https://lingmyataung.vercel.app/">
    <meta property="og:image" content="https://i.ibb.co/wZHxY7p/lingmyataung8.jpg" /> 

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="Ling Myat Aung" />  
    <meta name="twitter:title" content="Ling Myat Aung | Full-Stack Developer">
    <meta name="twitter:description" content="Explore the portfolio of Ling Myat Aung, a full-stack developer with expertise in PHP, Laravel, Vue.js, and more."> 
    <meta name="twitter:image" content="https://i.ibb.co/wZHxY7p/lingmyataung8.jpg" />
    
    <title>{title}</title>
    
</head>