---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content="Ling Myat Aung" />
		<meta property="og:description" content="Experienced full-stack developer from Myanmar with 2 years of job expertise in Php, Laravel and Vue.js. Ready to create innovative web solutions!" />
		<meta name="description" content="Experienced full-stack developer from Myanmar with 2 years of job expertise in Php, Laravel and Vue.js. Ready to create innovative web solutions!" />

		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Ling Myat Aung" /> 
		<meta property="og:url" content="https://lingmyataung.vercel.app/">
		<meta property="og:image" content="/lingmyataung.jpg" /> 

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="Ling Myat Aung" />  
		<meta name="twitter:title" content="Ling Myat Aung" />  
		<meta name="twitter:description" content="TExperienced full-stack developer from Myanmar with 2 years of job expertise in Php, Laravel and Vue.js. Ready to create innovative web solutions!" />  
		<meta name="twitter:image" content="/lingmyataung.jpg" />
		
		<title>{title}</title>
		
	</head>
	<body>
		<img 
		  src="/astronut-1.gif" 
		  class="
		    fade-right absolute right-0 top-[-10%] sm:top-0 
			w-28 h-28 sm:w-[auto] sm:h-[auto]
		  " 
		  alt="astronut-animation"
		>

		<div id="main" class="sm:px-0 px-3">	
			<slot />
		</div>

		<span id="circle" class="circle"></span>
	</body>
</html>
<style is:global>
	html {
		font-family: sans-serif;
		background: #010409;
		color: #fff;
		/* background: #1D2A35; */

	}

	body {
		position	: relative;
		height	: 100vh;
		overflow	: auto;
	}

	.circle {
		position: absolute;
		border: 2px solid #4ad26c;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		transform-origin: center bottom;
		pointer-events: none;
		opacity: 0;
	}

	#main {
		max-width: 500px;
		margin: 0 auto;
		padding: 5rem 0;
	}

	.fade-right {
		opacity: 0;
		filter: blur(5px);
		transform: translateY(40%);
		transition: opacity 1s, filter 1s, transform 1s;
	}

	.fade-none {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}

	@media(prefers-reduced-motion) {
		.fade-right {
			transition: none;
		}
	}

</style>

<script>
	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add('fade-none');
			} else {
				entry.target.classList.remove('fade-none');
			}
		});
	});

	const fadeRightElements = document.querySelectorAll('.fade-right');
	fadeRightElements.forEach(el => observer.observe(el));
</script>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		var mouseX = 0,
			mouseY = 0;
		var xp = 0,
			yp = 0;

		document.addEventListener('mousemove', function (e) {
			document.getElementById('circle').style.opacity = '1';
			mouseX = e.pageX - 23;
			mouseY = e.pageY - 103;
		});

		setInterval(function () {
			xp += (mouseX - xp) / 6;
			yp += (mouseY - yp) / 6;
			document.getElementById('circle').style.left = xp + 'px';
			document.getElementById('circle').style.top = yp + 'px';
		}, 17);
	});
</script>